<html>
    <body>
        <form action="/book_back" method="post">
            <h2>Young Adult</h2>
            <table border="4">
                <tr>
                    <th>Image</th>
                    <th>Title</th>
                    <th>Author</th>
                    <th>price</th>
                    <th>Age Group</th>
                    <th>Description</th>
                <tr>
                <tr>
                    <td><img src="{{url_for('static',filename='images/young1.jpeg')}}"</td>
                    <td>Teenage World Book</td>
                    <td>Robert Demon</td>
                    <td>$40</td>
                    <td>2+</td>
                    <td>Beautiful Life and Beautiful Day
                    </td>


                </tr>
                <tr>
                    <td><img src="{{url_for('static',filename='images/young2.jpeg')}}"</td>
                    <td>Grow Vision Book</td>
                    <td>Chris Harris</td>
                    <td>$60</td>
                    <td>15+</td>
                    <td>Think of Future
                    </td>
                </tr>
                <tr>
                    <td><img src="{{url_for('static',filename='images/young3.jpeg')}}"</td>
                    <td>Day When Arrive Book</td>
                    <td>Amber Max</td>
                    <td>$20</td>
                    <td>18+</td>
                    <td>Life is Beautiful, Explore, Expand and Enjoy

                    </td>
                </tr>
            </table>
        <p>
            <a href="{{url_for('back')}}">Back to book</a>
        </p>
        </form>

    </body>
</html>